<!DOCTYPE html>

<!--
  Tab-Out by Neo-Asuka 2011
-->

<head>
    <title>Tab-Out</title>
    <meta charset='utf-8'>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
    <!--<script src="/javascripts/scripts.js"></script>-->
    <script src="/javascripts/amount.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Bevan&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/amount.css" type="text/css">
    <script>
        var groupId = '<%= group_id %>';
    </script>
</head>

<body>

    <header class="main">
        <h2><a href="/">Tab-Out</a></h2>
        <div class="username">Hello, <%- everyauth.user ? everyauth.user.twit.name : 'Guest' %>! <img src="<%- everyauth.user ? everyauth.user.twit.profileImageUrl : 'http://a1.twimg.com/profile_images/589455865/asuka-icon_bigger.jpg' %>"/></div>
    </header>

    <section id="yourGroup">
        <h3>Enter How Much Does Each of You Paid</h3>
	
        <div id="groupUsers">
        </div>
    </section>

    <section id="yourGroup">
        <h3>This is How You Should Pay!</h3>

        <div id="tabout">
        </div>
		
    </section>
	
    <footer>
    </footer>
</body>
</html>
