<!DOCTYPE html>

<!--
  Tab-Out by Asuka for Node Knockout 2011
-->

<head>
	<title>Tab-Out</title>
	<meta charset='utf-8'>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"></script>
	<script src="/javascripts/scripts.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Bevan&subset=latin" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
	
	<header class="main">
	    <h2>Tab-Out</h2>
      <div class="username">Hello, <span id="twitter-user"><%= everyauth.user.twit.name %></span>!</div>
	</header>

    <section id="createGroup">
		<h3>Your Group</h3>
		
		<div id="groups">
			the exiting groups here
			
			<div id="groupId000" class="tab-group">
				generated group list here.
			</div>
			
		</div>
		
	</section>
	
	<section id="createGroup">
		<h3>Create a new group</h3>
		
		<form action="#"> 
			<label for="name">Group Name:</label>
			<input type="text" name="group-name" value="" placeholder="Road Trip" />
			<button id="createGroupButton">Create</button>
		</form>
		
	</section>
	
	
	<section id="addTeam">
		
	</section>
	
	<section id="editInfo">
		
	</section>
	
	<div id="modalDialog">
	    <div id="dialog" class="dialog">
	        <div style="padding-bottom: 1em"><a href="#" class="close-dialog-button">Close</a></div>
	    </div>
	    <div id="scrim" class="scrim"></div>
	</div>
	
	<footer>
		
	</footer>
</body>
</html>
