!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='http://code.jquery.com/mobile/latest/jquery.mobile.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js')
    script(src='http://code.jquery.com/mobile/latest/jquery.mobile.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')
  body!= body
