html {
	color: #fff;
	background: #222;
	background-image: -webkit-gradient(radial,
                            50% 0, 10,
                            50% 0, 400,
                            from(rgba(255, 255, 255, 0.3)),
                            to(rgba(255, 255, 255, 0))
							);
	background-image: -moz-radial-gradient(
							top center,
							circle, 
							rgba(255, 255, 255, 0.3) 0%, 
							rgba(255, 255, 255, 0) 50%
							);
    background-repeat: no-repeat;
	min-height: 600px;
}
body {
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}
a {
	color: #f281b5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

header h1 {
  	font-family: 'Bevan', sans-serif;
	font-weight: bold;
	font-size: 6em;
	text-shadow: rgba(255,255,255, .7) 0px 0px 10px;
	margin: .5em auto 0;
}
header,
.auth {
	text-align: center;
}
.auth {
	margin-top: 10em;
}

/* Modal Dialog */

.scrim {
  	position: absolute;
	left: 0;
	top: 0;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.6);
  	display: none;
}
   
.dialog {
  	position: absolute;
	left: 0;
	top: 0;
  	width: 500px;
  	height: 300px;
	border-radius: 10px;
  	display: none;
  	z-index: 20;
  	padding: 1em;
	background-color: #eaeaea;
}
.close-dialog-button {
	position: absolute;
	right: 1em;
}